@import url('https://fonts.googleapis.com/css?family=Belgrano');

:root {
  --main-color: #0001a0;
  --second-color: #f0f8ff;
  --background-color: #b5d2ed;
  --pin-hover-color: #0001a0;
  --accent-color: #faed8f;
  --text: #0001a0;
  --text-background: white;
  --link-text: var(--text);
  --link-hover: var(--accent-color);
  --decorator-string: "★";
  --header-text: var(--main-color);
  --decorator-color: var(--main-color);
  --decorator: var(--decorator-string);
}

body {
  background: var(--background-color);
  font-family: "Candara", "Open Sans", sans-serif;
  font-size:16px;
  color: var(--text);
  background-image: url('images/celesestrellas.gif');
  }
  
a {
    color: var(--link-text);
    text-decoration: none
  }
  
a:hover {
  color: var(--link-hover);
  text-decoration: none
  }
  
h2, h3 {
  color: var(--header-text);
}

.shift-left {
  margin-left: -12px;
  padding: 0px;
}

.big-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: var(--link-text);
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: var(--link-text);
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

button:hover {
  color: var(--link-hover);
}
  
.border {
  background: white;
  border-bottom: 3px solid var(--main-color);
}
  
.tiny {
  font-size: 9px;
  margin: 0 auto;
  text-align: center;
  }
  
.index {
  background: var(--text-background);
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  }
  
.index a {
  padding: 3px;
  margin-left: 5px;
  margin-right:5px;
  text-decoration: none;
  font-size:27px;
  font-family: 'Belgrano';
  }
  
/*Navigation links.*/
.index ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }
  
.index li {
  }

/*Some fancy code for fun, to add special characters around the navigation links. Change content to "" if you don't want these.*/
.index li:before {
  content: var(--decorator);
  color: var(--decorator-color);
  font-size:27px;
  }
  
.index li:after {
  content: var(--decorator);
  color: var(--decorator-color);
  font-size:27px;
  }
  
.index .last:after {
  content: var(--decorator);
  color: var(--decorator-color);
  font-size:27px;
  }
  
.index li:before, .links li:after {
  letter-spacing: 0.1em;
  }

/*Navbar*/
.links {
  background: var(--text-background);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  }
  
.links a {
  padding: 3px;
  margin-left: 5px;
  margin-right:5px;
  text-decoration: none;
  font-size:17px;
  font-family: 'Belgrano';
  }
  
/*Navigation links.*/
.links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }
  
.links li {
  display: inline-block;
  }

/*Some fancy code for fun, to add special characters around the navigation links. Change content to "" if you don't want these.*/
.links li:before {
  content: var(--decorator);
  color: var(--decorator-color);
  }
  
.links li:after {
  content: "";
  }
  
.links .last:after {
  content: var(--decorator);
  color: var(--decorator-color);
  }
  
.links li:before, .links li:after {
  letter-spacing: 0.1em;
  }

.main {
  padding: 15px;
  padding-bottom: 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0 auto;
  background: var(--text-background);
  }

.overlay{
	position: absolute;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    z-index: 2;
    top: 0;
    opacity: 0;
    color: #fff;
    width: 278px;
    height: calc(100% - 8px);
    transition: .5s ease;
    background-color: var(--pin-hover-color);
}

.overlay p{ 
  text-align: center;
  position: relative;
  top: 40%;
  padding: 10px;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  font-family: Garamond;
  color: white;
}

.overlayTouch{
	display: none;
	position: absolute;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  z-index: 3;
  top: 0;
  opacity: 0.8;
  color: #fff;
  width: 278px;
  height: calc(100% - 8px);
  background-color: var(--pin-hover-color);
}

.overlayTouch p{ 
  text-align: center;
  position: relative;
  padding: 10px;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  font-family: Garamond;
  color: white;
  font-size: 11px;
}

.overlayTouch a{ 
  color: white;
}

@media only screen and (hover: none) {
  .overlay{
  	display: none;
  }
}

.pin {
    position:relative;
    display: inline-block;
    width:280px;
    /* margin-bottom: 20px; */
}

.pin:hover .overlay{
	opacity:0.8;
}

.pinImg {
    width:280px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    /* margin-bottom: 20px; */
}

.wrapper {
  width: 1200px;
  border: 4px solid var(--main-color);
  border-radius: 25px;
  margin: 0 auto;
  top: 0px;
  }
  
.board {
    width: 1136px;
    column-width: 280px;
    column-gap: 4px;
    margin: 4px;
}

@media (min-width: 920px) and (max-width: 1239px) {
  .wrapper {
  width: 900px;
  border: 4px solid var(--main-color);
  border-radius: 25px;
  margin: 0 auto;
  top: 0px;
  }
  
  .board {
      width: 852px;
      column-width: 280px;
      column-gap: 4px;
      margin: 4px;
  }
  }

@media (min-width: 670px) and (max-width: 919px) {
  .wrapper {
  width: 650px;
  border: 4px solid var(--main-color);
  border-radius: 25px;
  margin: 0 auto;
  top: 0px;
  }
  
  .board {
      width: 566px;
      column-width: 280px;
      column-gap: 4px;
      margin: 4px;
  }
  }

@media (max-width: 669px) {
  .wrapper {
  width: 350px;
  border: 4px solid var(--main-color);
  border-radius: 25px;
  margin: 0 auto;
  top: 0px;
  }
  
  .board {
      width: 300px;
      column-width: 280px;
      column-gap: 4px;
      margin: 4px;
  }
  }
